html { 
    background: url(ab.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Helvetica Neue";
    margin: 0;
    background-color: transparent !important;
}

.container1{
    position: relative;
    height: 70vh;
    color: white;
}

.container2{
    position: relative;
    height: 50vh;
    color: rgb(44, 44, 44);
    background-color: white;
}

.container3{
    position: relative;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.705);
    color: rgb(44, 44, 44);
}

h3.about{
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 26%;
    left: 15%;
}

h3.contact{
    font-size: 40px;
    color: #BC003E;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3.team{
    font-size: 40px;
    color: #BC003E;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.about{
    position: absolute;
    font-size: 30px;
    top: 46%;
    left: 15%;
}

p.contact{
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    color: gray;
}

p.contact2{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    color: rgb(56, 56, 56);
}

p.team{
    font-weight: 600;
    font-size: 23px;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
}

p.team2{
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 74%;
    color: rgb(90, 90, 90);
    transform: translate(-50%, -50%);
}

img.team {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}