{% extends 'base.html' %}
{% block title %}Like News{% endblock %}

{% block content %}
{% if error_message %}
<h1>{{ error_message }}</h1>
{% endif %}
<form class="ui form"action="{% url 'like_news' news_id=news.id %}" method="post" style="margin-top:30px;margin-left:50px;">
    {% csrf_token %}
    <h1>Like {{ news.judul_news }} ?</h1>
    <div><label style="color:black;">Username: </label>{{ form.username }}</div><br>
    <div><label style="color:black;">Email: </label>{{ form.email }}</div><br>
    <div><label style="color:black;">Password: </label>{{ form.password }}</div><br>
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
</form>
{% endblock %}

{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:300px;">
    <div class="navbar-brand">
    Student Union 2017-2018</p></div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
     </li>
</ul>
</div>
{% endblock %}
