{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

{% endblock %}
{% block content %}
<div class="ui align left" style="margin-bottom:200px;">
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        <div class="row">
          <div class="col-md-6"><h1 class="display-0">News</h1></div>
          <div class="col-md-3"><div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'news' %}">Most Recent</a>
              </div>
              </div>
             </div>
              <div class="col-md-3">
              <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            </form>
            </div>
            </div>
          </div>
        </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-10">
          {% for news in list_news %}
            <a href="../../id/{{news.id}}"><h3>{{ news.judul_news }}</h3></a><br>
            {{ news.date_news }}.
            {{ news.source_news }}<br>
            {{ news.desc_news }}<br><br>
            {% endfor %}
          </div>
          <div class="col-md-2">
            Categories
          {% for categories in list_categories %}
          <li>
             {{categories}}
          </li>
          {% endfor %}
          </div>
        </div>
        <hr>
      </div>
    </main>

</div>
{% endblock %}
{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:300px;">
    <div class="navbar-brand">
    Student Union 2017-2018</p></div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
     </li>
</ul>
</div>
{% endblock %}