{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ news.judul_news }}{% endblock %}

{% block content %}
{% if error_message %}
<div class="container">
<h1> {{ error_message }}</h1>
<div style="margin-top:300px;"><a href="/news/">Go Back</a></div>
</div>
{% else %}
<h1> News </h1><br>
<div class="container">
    <div class="row">
          <div class="col-md-10">
          {% for news in news %}
            <a href="../../id/{{news.id}}"><h3>{{ news.judul_news }}</h3></a><br>
            {{ news.date_news }}.
            {{ news.source_news }}<br>
            {{ news.desc_news }}<br><br>
            {% endfor %}
          </div>
          <div class="col-md-2">
            Categories
          {% for categories in list_categories %}
          <li>
             {{categories}}
          </li>
          {% endfor %}
          </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:400px;">
    <div class="navbar-brand">
    Student Union 2017-2018</p></div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
     </li>
</ul>
</div>
{% endblock %}